@import '_variables';

header {
  padding: 0 0 20px;
  //gradient start
  background: #{$mainColor};
  /* Old Browsers */
  background: -moz-linear-gradient(top, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 49%, #{$mainColor} 50%, rgba(33,36,41,0) 50%, rgba(33,36,41,0) 99%, rgba(33,36,41,0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #{$mainColor}), color-stop(0%, #{$mainColor}), color-stop(0%, #{$mainColor}), color-stop(49%, #{$mainColor}), color-stop(50%, #{$mainColor}), color-stop(50%, rgba(33,36,41,0)), color-stop(99%, rgba(33,36,41,0)), color-stop(100%, rgba(33,36,41,0)));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 49%, #{$mainColor} 50%, rgba(33,36,41,0) 50%, rgba(33,36,41,0) 99%, rgba(33,36,41,0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 49%, #{$mainColor} 50%, rgba(33,36,41,0) 50%, rgba(33,36,41,0) 99%, rgba(33,36,41,0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 49%, #{$mainColor} 50%, rgba(33,36,41,0) 50%, rgba(33,36,41,0) 99%, rgba(33,36,41,0) 100%);
  /* IE 10+ */
  background: linear-gradient(to bottom, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 0%, #{$mainColor} 49%, #{$mainColor} 50%, rgba(33,36,41,0) 50%, rgba(33,36,41,0) 99%, rgba(33,36,41,0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#{$mainColorHx}', endColorstr='#{$mainColorHx}', GradientType=0 );
  /* IE6-9 */
  //gradient stop
  nav {
    height: 70px;
    @media only screen and #{$smart}{
      height: 50px;
    }
    @media only screen and #{$tablet}{
      height: 60px;
    }

    #burger {
      width: 32%;
      display: inline-block;
      @media only screen and #{$tablet}{
          display: none;
      }
        img {
          width: 25px;
          height: 25px;
          margin: 10px;
          box-sizing: border-box;
          transition: all #{$showMenuTimer} cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transform: rotate(0deg);
      }
      .rotate_star{
        transform: rotate(540deg);
      }
    }

    #logo {
      width: 32%;
      display: inline-block;

      @media only screen and #{$smart}{
        width: 60%;
      }

      img {
        margin: 0 auto;
        display: block;
        @media only screen and #{$desktop}{
        margin: 0;
        }
      }
    }

    h1 {
      text-indent: -1000px;
      line-height: 0;
      margin: 0;
      padding: 0;
      width: 0;
      display: inline-block;
    }

    ul {
      width: 32%;
      height: 60px;
      line-height: 60px;
      display: inline-block;

      @media only screen and #{$smart}{
        position: fixed;
        left: -100%;
        top:40px;
        z-index: 99999;
        background-color: #{$mainColor};
        height: 100vh;
        width: 100vw;
        transition: left #{$showMenuTimer} cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      @media only screen and #{$tablet}{
          display: inline-block;
          width:50%;
          float: right;
      }
      li {
        float: right;
        list-style-type: none;
        margin-left: 22px;
        @media only screen and #{$smart}{
          display: block;
          float: none;
          width: 50%;
          margin: 0 auto;
          text-align: center;
          border-bottom:1px solid nth($pallete,2);
        }
        a {
          text-decoration: none;
          color: nth($pallete,2);
          text-transform: capitalize;
          font-size: 1em;
          transition: font-size 0.3s linear;

          &:hover {
            font-size: 1.5em;
          }
        }
      }

      &:after {
        clear: both;
        content: '';
        display: block;
      }
    }
    .show_menu{
      left:0;
    }
    &:after{
      @media only screen and #{$tablet}{
          content: '';
          clear:both;
          display: block;
      }
    }
  }
.fixed_nav{
    position: fixed;
    top: 0;
    z-index: 999999;
    background: #{$mainColor};
    height: 100vh;
    width: 100vw;
}
  #main_banner {
    position: relative;
    background: nth($pallete,2);
    overflow: hidden;
    img {
      width: 100%;
      position: relative;
      background-color: nth($pallete,2);
      opacity:1;
      transition: opacity 1.5s ease-in-out;
    }
    .fadeOut{
      opacity:0;
    }
    h2,h3{
      color:nth($pallete,3);
      position: absolute;
      text-transform:uppercase;
      opacity:1;
      transition: opacity 1.5s ease-in-out;
    }
    h2{
      top:20px;
      left:10px;
      font-size: 1rem;
      @media only screen and #{$tablet}{
        left:50px;
        top:90px;
      }
      @media only screen and #{$desktop}{
        top:200px;
        font-size: 2rem;
        left: 100px;
      }
    }
    h3{
      top:50px;
      left:10px;
      font-size: 0.7rem;
      @media only screen and #{$tablet}{
        left:50px;
        top:65px;
      }
      @media only screen and #{$desktop}{
        top:250px;
        font-size: 1.5rem;
        left: 100px;
      }
    }
    #slide_indicator_container{
      position: absolute;
      color: nth($pallete,2);
      top: 30px;
      right: 10px;
      font-size: 1rem;

      @media only screen and #{$tablet}{
        font-size: 2rem;
        right: 50px;
        top:60px;
      }
      @media only screen and #{$desktop}{
        font-size: 2rem;
        right: 60px;
        top:140px;
      }
    }


  }
}
