#blog_posts {
  background-color: nth($pallete,4);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media only screen and #{$smart}{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  @media only screen and #{$tablet}{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  }
  @for $i from 1 through 4 {
    .column_#{$i} {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
      @media only screen and #{$tablet}{
      width: 50%;
      }
    }

    .blog_post {
      background-color: white;
      max-width: 265px;
      box-sizing: border-box;
      margin: 15px 5px;
      @media only screen and #{$tablet}{
        margin: 15px auto;
      }
      .post_type_image {
        display: block;
        margin: -15px auto;
        width: 30px;
        position: relative;
        z-index: 2;
      }

      .post_image {
        background-color: grey;
        display: block;
        width: 100%;
        height: 150px;
        margin: 0;
      }

      h3 {
        text-align: center;
        color: nth($pallete,3);
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
        padding: 0 10px;
      }

      h5 {
        text-align: center;
        padding: 0 10px;
        color: nth($pallete,1);
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-top: 40px;
        margin-bottom: 10px;

        &:nth-of-type(2) {
          margin-top: 10px;
        }
      }

      p {
        padding: 0 10px;
        line-height: 1.4rem;
        text-align: justify;
        font-size: 0.8rem;
      }

      .read_more {
        background: none;
        border: none;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      .quote_author {
        text-align: center;
      }

      .post_footer {
        font-size: 0.7rem;
        line-height: 1.7rem;
        padding: 0 10px;

        img {
          width: 15px;
          float: right;
          display: block;
          margin-top: 16px;
          margin-left: 4px;
        }

        .comments {
          float: left;
          background-image: url('../images/comments.png');
          background-repeat: no-repeat;
          padding-left: 30px;
        }

        &:after {
          clear: both;
          display: block;
          content: '';
        }
      }
    }

    .audio {
      img {
        margin: 3px auto;
        display: block;
      }
    }

    .video {
      iframe {
        width: 100%;
        height: 190px;
        position: relative;
        z-index: 1;
      }

      a {
        color: nth($pallete,3);
        text-align: center;
        text-decoration: none;
        font-size: 0.7rem;
        display: block;
        margin-bottom: 15px;
      }
    }

    .text_only {
      background-image: url('../images/post-background.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    .link {
      a {
        word-wrap: break-word;
        color: nth($pallete,2);
        display: block;
        padding: 50px 4px;
        text-align: center;
      }
    }

    .link,
    .quote {
      background-color: nth($pallete,3);
    }
  }
}
