@import 'variables';

#sign_up {
  form {
    height: 75px;

    h3 {
      color: nth($pallete,3);
      text-transform: uppercase;
      width: 15%;
      display: inline-block;
      height: 50px;
      margin: 0;
      vertical-align: -webkit-baseline-middle;
    }

    input {
      width: 25%;
      margin-left: 32px;
      box-sizing: border-box;
      padding: 10px;
      font-family: #{$fontFamily};
      text-transform: uppercase;
      height: 50px;
    }

    input[type='submit'] {
      background-color: black;
      color: white;
      border: 1px solid black;
      font-weight: 800;
    }
  }
}
