@import 'variables';
@import 'header';
@import 'sign_up';
@import 'main';
@import 'footer';

* {
  font-family: #{$fontFamily};
}

body,
li,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
li,
p {
  color: nth($pallete,1);
}

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
