@import 'variables';
@import 'header';
@import 'sign_up';

* {
  font-family: #{$fontFamily};
}
body,ul,li{
  margin:0;
  padding:0;
}
p,li,h1,h2,h3,h4{
  color: nth($pallete,1);
}
.wrapper{
  width:96%;
  max-width: 1200px;
  margin:0 auto;
  padding:0 2%;
}



footer{
    background: #{$mainColor};
    ul{
      li{
        float:left;
      }
      &:after{
        content:'';
        clear:both;
        display:block;
      }
    }
}
